# Serveur
PORT=8080
GIN_MODE=debug  # debug | release | test

# Base de données
DB_DRIVER=sqlite           # sqlite | postgres
SQLITE_PATH=./FluxHUB.db

# PostgreSQL (si DB_DRIVER=postgres)
#DB_HOST=localhost
#DB_PORT=5432
#DB_USER=flux_user
#DB_PASSWORD=mot_de_passe_securise
#DB_NAME=FluxHUB

# Stockage
STORAGE_PATH=./storage/clones
ZIPS_PATH=./storage/zips
PRIVATE_KEY_PATH=./keys/nexus_private.pem
